<%- include("partials/headerB") -%>
<!-- form of other product -->
<script>
  function text(x) {
    if(x == 0) document.getElementById("sellp").style.display = "block";
    else document.getElementById("sellp").style.display = "none";
    return;
  }
  
  function add() {
    // if(document.getElementById("pname")
  // alert("Item Added! Thank You!");
  };

</script>
<section id="title">
  <div class="row container-fluid">


    <div class="col-lg-6">
      <h1 class="heading" > Fill in the Details </h1>
    </div>
    <div class="col-lg-6">

      <form action="/addproduct/<%=user%>" method="post" enctype="multipart/form-data">
        <div class="form-group ">
          <div class="label">Product Name</div>
          <input class="form-control" type="text" name="pname" placeholder="Product name" required>
          <div class="label">Would you like to donate this product?</div>
          <div>
            <input type="radio" id="yes" name="donation" value="YES" onclick="text(1)">
            <label for="yes">YES</label><br>
            <input type="radio" id="no" name="donation" value="NO" onclick="text(0)"  checked>
            <label for="no">NO</label><br>
          </div>
          <div id="sellp">
          <div class="label">Selling Price</div>
          <input class="form-control" type="number" name="sellp" placeholder="In Rs." value="0">
          </div>
          <br>
            
          <div class="label">Your Name</div>
          <input class="form-control" type="text" name="name" placeholder="Millie Bobby Brown">
          <div class="label">ProductDetails:</div>
          <input class="form-control" type="text" name="brand" placeholder="brand if applicable">
          <input class="form-control" type="text" name="year" placeholder="Year of buying">
          <input class="form-control" type="text" name="condition" placeholder="Condition">
          <input class="form-control" type="text" name="others" placeholder="Any other information">
          <div class="label">Your Contact Info</div>
          <input class="form-control" type="text" name="phone" placeholder="Phone No.">
          <input class="form-control" type="text" name="email" placeholder="Email Id">
          <input class="form-control" type="text" name="hostel" placeholder="Hostel name">
          <input class="form-control" type="text" name="room" placeholder="Room no.">
          <textarea class="form-control" name="time" >Please contact me between (add preferable time) using (add preferable mode). </textarea>
          <br>
          <input class="form-control" type="file" name="image" required>
          <button class="btn btn-dark" type="submit" name="button" onclick="add()">Add</button>
          
          
        </div>

      </form>
    </div>

</section>
<%- include("partials/footer") -%>
