<%- include("partials/header") -%>
<style>
  .mine{
    margin-top: 3px;
    margin-bottom: 3px;
  }
</style>
<section id="info" class="container-fluid">

    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\images\phy.jpg" class="card-img mine" alt="..." class="mine">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Physics</h5>
          <p class="card-text">1. M.Kumar <br>
           Original price as per Mrp : Rs560<br> 2. D.J. Griffith <br>Original price as per Mrp: Rs700</p>
          <!-- <iframe src="https://.amazon.in/Textbook-Engineering-Physics-Dhanpat-Navneet/dp/B07RXKZNJ8"> -->
          <!-- </iframe> -->
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\images\cind.jpeg" class="card-img mine" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Computer Programming</h5>
          <p class="card-text">1. Let us C <br>Original price as per Mrp : Rs263<br>
             2. C in Depth<br> Original price as per Mrp : Rs390 </p>
             <!-- <iframe src="https://amzn.to/36d9CiD"> -->
              <!-- </iframe> -->
               <!-- <iframe src="https://amzn.to/2z0VBZp"> -->
             <!-- </iframe> -->
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\images\chem.jpeg" class="card-img mine" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Chemistry</h5>
          <p class="card-text">1. Jain & Jain <br> Original price as per Mrp : Rs500<br>
             2. Refer notes and previous year papers.</p>
             <!-- <iframe src="https://amzn.to/2XduUsx"> -->
              <!-- </iframe> -->
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\images\mech.jpeg" class="card-img mine" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Engineering Mechanics</h5>
          <p class="card-text">1. Merriam & Kraig <br> Original price as per Mrp : Rs809<br>
           2. R.C. Hibbler <br> Original price as per Mrp : Rs829</p>
           <!-- <iframe src="https://amzn.to/2ThpmvC"> -->
            <!-- </iframe> -->
            <!-- <iframe src="https://amzn.to/2X7UOOk"> -->
                 <!-- </iframe> -->
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\images\maths.jpg" class="card-img mine" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
          <p class="card-text">1. Jain and Iyengar <br>  Original price as per Mrp : Rs550<br>
              2. B.S. Grewal <br> Original price as per Mrp : Rs<br>
               3. Erwin Kregszig <br>
               Original price as per Mrp : Rs500</p>
               <!-- <iframe src="https://amzn.to/3g10fqM"> -->
                <!-- </iframe>-->
                  <!-- <iframe src="https://amzn.to/36aDbRQ"-->
                    <!-- </iframe> -->
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\images\raghu.jpg" class="card-img mine" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Workshop</h5>
          <p class="card-text">1. Raghuvanshi <br>
            Original price as per Mrp : Rs260<br> 2. Khurmi & Gupta
          <br> Original price as per Mrp : Rs275 </p>
          <!-- <iframe src="https://amzn.to/3g3lp7L"> -->
            <!-- </iframe> -->
            <!-- <iframe src="https://amzn.to/3dTjWim"-->
            <!-- </iframe> -->
        </div>
      </div>
    </div>

</section>

</body>

</html>
