h3,h2 {
  color: #11999e;
}
h4{
  color: #11999e;
}

a{
  color: white;
}
p {
  font-size: 1.5rem;
  color: #8f8f8f;
}
body {
  background-color: #e4f9f5
}

#navigationbar {
  background-color: #11999e;
  color: #fff;
  /* color: #40514e */
}
#title{

    background-color: #11999e;
    color: #fff;
    /* color: #40514e */
}
.container-fluid {
  padding: 2% 15%;
;
}

.heading {
  color: #fff;
  font-size: 4.5rem;
  padding-bottom: 5rem;
  padding-right: 6rem;
}


.navbar {
  padding: 0 0 0rem;
}

.navbar-brand {
  padding: 0 20px;
  font-size: 1.5rem;
  color: #fff;
}
.nav-link {
  color: #fff;
}
.button {
  margin: 0 20px;
}

#features {
  background-color: #fff;
  padding: 3% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%
}

.icon {
  color: #30e3ca;
  padding-bottom: 5%;
}

.icon:hover {
  color: #11999e;
}

#about-us {
  background-color: #30e3ca;
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
.carousel-inner{
  color: #fff;
}
.carousel-item {

  padding: 3% 15%;
}
#sellform, #list {
  background-color: #e4f9f5
}
.btn {
  margin-top: 10px ;
  margin-right: 30px;
}
.pricing-column {
  margin-bottom: 20px;
}
.know {
  color: #000;
}
.know:hover {
  color: #fff;
}
#footer{
  background-color: #11999e;
  color: #fff;
  text-align: center;
  padding: 3% 15% 3%;
  
}
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
}
